<!DOCTYPE html>
<html>

  <head>

    <title>Rails 5 Chess</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  </head>

  <body>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'play', welcome_index_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
    <% else %>
      <p4> Please
      <%= link_to "Sign up", new_user_registration_path  %>
      or
      <%= link_to "Login", new_user_session_path %>
      to play
    </p4>
    <% end %>


    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </body>
</html>
