<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">MEET YOUR ARMY</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= image_tag "creative/pawn.png", class: "img-responsive", alt: "" %>
                    <h3>PAWN</h3>
                    <p class="text-muted">Unlike other pieces, pawns may not move backwards. Normally a pawn moves by advancing a single square, but the first time a pawn is moved, it has the option of advancing two squares. Pawns may not use the initial two-square advance to jump over an occupied square, or to capture. Any piece directly in front of a pawn, friend or foe, blocks its advance.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= image_tag "creative/chess-knight.png", class: "img-responsive", alt: "" %>
                    <h3>KNIGHT</h3>
                    <p class="text-muted">The knight move is unusual among chess pieces. When it moves, it can move to a square that is two squares horizontally and one square vertically, or two squares vertically and one square horizontally. The complete move therefore looks like the letter L. Unlike all other standard chess pieces, the knight can 'jump over' all other pieces (of either color) to its destination square. It captures an enemy piece by replacing it on its square.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= image_tag "creative/rook.png", class: "img-responsive", alt: "" %>
                    <h3>ROOK</h3>
                    <p class="text-muted">The rook moves horizontally or vertically, through any number of unoccupied squares. As with captures by other pieces, the rook captures by occupying the square on which the enemy piece sits.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= image_tag "creative/bishop.png", class: "img-responsive", alt: "" %>
                    <h3>BISHOP</h3>
                    <p class="text-muted">The bishop has no restrictions in distance for each move, but is limited to diagonal movement. Bishops, like all other pieces except the knight, cannot jump over other pieces. A bishop captures by occupying the square on which an enemy piece sits.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= image_tag "creative/queen.png", class: "img-responsive", alt: "" %>
                    <h3>QUEEN</h3>
                    <p class="text-muted">The queen can be moved any number of unoccupied squares in a straight line vertically, horizontally, or diagonally, thus combining the moves of the rook and bishop. The queen captures by occupying the square on which an enemy piece sits.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= image_tag "creative/chess-king.png", class: "img-responsive", alt: "" %>
                    <h3>KING</h3>
                    <p class="text-muted">A king can move one square in any direction (horizontally, vertically, or diagonally) unless the square is already occupied by a friendly piece or the move would place the king in check</p>
                </div>
            </div>

        </div>
    </div>
</section>
